$conversor-color-primario: #007bff;
$conversor-color-secundario: #8f9ba5;
$conversor-color-fondo: #dfdfdf;

.conversor {
	background-color: $conversor-color-fondo;
	border-radius: 8px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	padding: 50px;
	text-align: center;
	margin: auto;

	h3 {
		color: $conversor-color-primario;
		font-size: 28px;
		font-weight: bold;
		margin-top: 0;
	}

	.ingreso-divisas {
		display: flex;
		margin-bottom: 16px;

		input[type="number"] {
			border: none;
			border-bottom: 2px solid $conversor-color-secundario;
			font-size: 16px;
			margin: 0 8px 0 8px;
			padding: 8px;
			width: 50%;
		}

		select {
			text-align: center;
			appearance: none;
			background-size: 16px;
			border: none;
			border-bottom: 2px solid $conversor-color-secundario;
			font-size: 16px;
			max-width:100px;
			padding: 8px;
			width: 100%;
		}
		section{
			border-bottom: 2px solid $conversor-color-secundario;
			font-size: 16px;
			margin: 0 8px 0 8px;
			padding: 8px;
			width: 100px;
		}
	}

	button {
		background-color: $conversor-color-primario;
		border: none;
		border-radius: 8px;
		color: #fff;
		cursor: pointer;
		font-size: 16px;
		padding: 8px 16px;
		transition: all 0.2s ease;

		&:hover {
			background-color: darken($conversor-color-primario, 10%);
		}
	}
}
.salir-volver{
	margin: au;
}